<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxx.erp.dao.storeoper.StoreoperDao" >
  <resultMap id="BaseResultMap" type="com.xxx.erp.bean.storeoper.Storeoper" >
    <id column="uuid" property="uuid" jdbcType="BIGINT" />
    <result column="empUuid" property="empuuid" jdbcType="BIGINT" />
    <result column="operTime" property="opertime" jdbcType="TIMESTAMP" />
    <result column="storeUuid" property="storeuuid" jdbcType="BIGINT" />
    <result column="goodsUuid" property="goodsuuid" jdbcType="BIGINT" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      uuid, empUuid, operTime, storeUuid, goodsUuid, num, type
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xxx.erp.bean.storeoper.StoreoperQuery" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from storeoper
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    uuid,empUuid,operTime,storeUuid,goodsUuid,num,type
    from storeoper
    where uuid = #{uuid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from storeoper
    where uuid = #{uuid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xxx.erp.bean.storeoper.StoreoperQuery" >
    delete from storeoper
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xxx.erp.bean.storeoper.Storeoper" >
    insert into storeoper (uuid, empUuid, operTime, 
      storeUuid, goodsUuid, num, 
      type)
    values (#{uuid,jdbcType=BIGINT}, #{empuuid,jdbcType=BIGINT}, #{opertime,jdbcType=TIMESTAMP}, 
      #{storeuuid,jdbcType=BIGINT}, #{goodsuuid,jdbcType=BIGINT}, #{num,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xxx.erp.bean.storeoper.Storeoper" >
    insert into storeoper
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="empuuid != null" >
        empUuid,
      </if>
      <if test="opertime != null" >
        operTime,
      </if>
      <if test="storeuuid != null" >
        storeUuid,
      </if>
      <if test="goodsuuid != null" >
        goodsUuid,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=BIGINT},
      </if>
      <if test="empuuid != null" >
        #{empuuid,jdbcType=BIGINT},
      </if>
      <if test="opertime != null" >
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeuuid != null" >
        #{storeuuid,jdbcType=BIGINT},
      </if>
      <if test="goodsuuid != null" >
        #{goodsuuid,jdbcType=BIGINT},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xxx.erp.bean.storeoper.StoreoperQuery" resultType="java.lang.Integer" >
    select count(*) from storeoper
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update storeoper
    <set >
      <if test="record.uuid != null" >
        uuid = #{record.uuid,jdbcType=BIGINT},
      </if>
      <if test="record.empuuid != null" >
        empUuid = #{record.empuuid,jdbcType=BIGINT},
      </if>
      <if test="record.opertime != null" >
        operTime = #{record.opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.storeuuid != null" >
        storeUuid = #{record.storeuuid,jdbcType=BIGINT},
      </if>
      <if test="record.goodsuuid != null" >
        goodsUuid = #{record.goodsuuid,jdbcType=BIGINT},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update storeoper
    set uuid = #{record.uuid,jdbcType=BIGINT},
      empUuid = #{record.empuuid,jdbcType=BIGINT},
      operTime = #{record.opertime,jdbcType=TIMESTAMP},
      storeUuid = #{record.storeuuid,jdbcType=BIGINT},
      goodsUuid = #{record.goodsuuid,jdbcType=BIGINT},
      num = #{record.num,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xxx.erp.bean.storeoper.Storeoper" >
    update storeoper
    <set >
      <if test="empuuid != null" >
        empUuid = #{empuuid,jdbcType=BIGINT},
      </if>
      <if test="opertime != null" >
        operTime = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeuuid != null" >
        storeUuid = #{storeuuid,jdbcType=BIGINT},
      </if>
      <if test="goodsuuid != null" >
        goodsUuid = #{goodsuuid,jdbcType=BIGINT},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xxx.erp.bean.storeoper.Storeoper" >
    update storeoper
    set empUuid = #{empuuid,jdbcType=BIGINT},
      operTime = #{opertime,jdbcType=TIMESTAMP},
      storeUuid = #{storeuuid,jdbcType=BIGINT},
      goodsUuid = #{goodsuuid,jdbcType=BIGINT},
      num = #{num,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER}
    where uuid = #{uuid,jdbcType=BIGINT}
  </update>
</mapper>