<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd 
		 ">

	<!-- Springmvc扫描   @Service @Componer....... -->
	<context:component-scan base-package="com.xxx.erp" use-default-filters="false">
		<!-- 白名单    黑名单 -->
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	

	
	<!-- 
	    处理器映射器
		处理器适配器
		视图解释器
		
		还有之前学过的，这里没配置上的：
		springMVC参数校验器；
		springMVC拦截器；
		springMVC全局异常处理器；
		
	 -->
	 <mvc:annotation-driven conversion-service="conversionService"/>
	 
	 <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	 	<property name="prefix" value="/WEB-INF/back_page/"/>
	 	<property name="suffix" value=".jsp"/>
	 </bean>
	 
	 <!-- Converter转换器 -->
	 <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
	 	<property name="converters">
	 		<list>
	 			<!-- 日期转换 -->
	 			<bean class="com.xxx.erp.common.converter.CustomDateConverter"/>
	 			<!-- 参数转换 -->
	 			<bean class="com.xxx.erp.common.converter.CustomTrimConverter"/>
	 		</list>
	 	</property>
	 </bean>


	 
	 <!-- 配置上传图片  不能大于1M   名称ID 不能自定义  B   -->
	 <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	 	<property name="maxUploadSize" value="1048576"/>
	 </bean>
	
	
</beans>