<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	
	<!-- 配置 setting 二级缓存  延迟加载。。 -->
	<!-- 类别名   cn.xxx.erp.bean.TestTb  使用別名为   TestTb  -->
	<typeAliases>
		<package name="cn.xxx.erp.bean"/>
	</typeAliases>
	



</configuration>